<nav class="nav">
    <label class="icon" routerLink="/home">MINUTEJO</label>
    <ul>
        <li class="link" routerLink="/negocios" routerLinkActive="active">Negócios</li>
        <li class="link" routerLink="/saude" routerLinkActive="active">Saúde</li>
        <li class="link" routerLink="/desporto" routerLinkActive="active">Desporto</li>
        <li class="link" routerLink="/favoritos" routerLinkActive="active">Favoritos</li>
    </ul>
    <a class="btn" style="font-size: 30px;">
        <i class="fa fa-bars"></i>
    </a>
</nav>